<section class="post">
    <header class="major">
        <h1>Who is<br />
                                    Zortac?</h1>
        <p>Me, my skills and how to contact me</p>
    </header>
    <p>I'm Moritz F. Kuntze a.k.a. Zortac, a seventeen year old student at Hölty-Gymnasium Wunstorf in Northern Germany. I'm interested in pretty much anything related to science, technology and engineering, play computer games, build electronics and write software. I'm pretty busy working on school and VoidX Networking Technologies, a company I co-founded with <a href="https://promasu.tech">Adrian Nöthlich</a>, but if you have an interesting idea and need a software guy, I'm always up for a new side-project.</p><br />
    <h2>Software Engineering Skills</h2>
    <p>I've been programming since I was six years old (back then working in Borland Delphi Pascal) and programming has played a big part in my life ever since then. I mostly write web-backend-related things, but I've done some stuff with things like CUDA for more interesting computational tasks. My main languages are Golang and C++ but I'm pretty comfortable working with any C-like language and the complete Web development stack. I've passed the first round of the 36th "Bundeswettbewerb Informatik" (federal computer science competition) with full points, but sadly wasn't able to compete in later rounds (no time because of school).</p><br />
    <h2>Electrical Engineering and Emebedded Computation Skills</h2>
    <p>I've done some work in Electrical Engineering and Embedded Programming but haven't had the time to dive as deep into the matters as I'd like to. I'm pretty familiar with Arduino programming, can do some CAD work and PCB design and build smaller electronic contraptions, but am far from a serious electronics maker.</p><br />
    <h2>System Administration Skills</h2>
    <p>Over the last years I've managed quite a few servers and am well versed in all things concerning Linux.</p>
    <h2>Other Skills</h2>
    <p>I know LaTeX, am pretty good at maths and can do complex things with spreadsheets. I'm fluent in English and German. I'm a bad CS:GO player.</p><br />
    <h2>Contact</h2>
    <p>I can best be reached via <a href="mailto:mfk@zortac.net">E-Mail</a> or via any of the contact methods on the bottom of this page, if necessary. My PGP key has fingerprint 976A62425B2054245797B7CDD4A2B58A1AC0FFE1 and can be found on the MIT Keyserver aswell as <a href="/resources/dl/pgp.txt">here</a>.</p>
</section>