<section class="post">
    <h2>Sign In</h2>
    <form method="POST" action="/api/login">
        <div class="row gtr-uniform">
            <div class="col-6 col-12-xsmall">
                <input type="text" name="username" id="username" value="" placeholder="Name">
            </div>
            <div class="col-6 col-12-xsmall">
                <input type="password" name="password" id="password" value="" placeholder="Password">
            </div>
            <!-- Break -->
            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" value="Sign In" class="primary"></li>
                </ul>
            </div>
        </div>
    </form>
</section>