<section class="post">
    <header class="major">
        <h1>What I<br />
                                    Do</h1>
        <p>Some of my projects</p>
    </header>
    <h2>VoidX</h2>
    <p>To be announced.</p>
    <h2>HGW Admin</h2>
    <p>I've been working as a network administrator at my school (in addition to being a student) for the past four years. I've written a couple internal tools for automating certain administrative tasks and improving the life of my fellow students but I'm unable to share the source code.</p>
    <h2>A Simple Go Framework</h2>
    <p>This website runs a custom framework, written in Go, to allow for flexible delivery of my blog posts. You can find it on <a href="https://gitlab.com/zortac/site">GitLab.</a></p>
    <h2>Mandelbrot Set in C++</h2>
    <p>I've written an interactive visualization of the Mandelbrot Set in C++ using OpenCV. It can be found on my old <a href="https://github.com/ZortacDev/MultibrotSet_OpenCV">GitHub account</a>. It's some of the worst code I've ever written, but it works.</p>
    <h2>Solar Power Supply</h2>
    <p>I am working on a custom power supply for a local solar research institute to make the low voltage-high current output of their solar cells usable for everday tasks such as phone charging.</p>
    <h2>36. BWInf</h2>
    <p>My submission for the first round of the 36th federal computer science competition of Germany. It calculates minimal prices for pool entry based on a set of complex (but configurable) rules. It's written in C++ and is some of the better code I've written. <br />
        <a href="https://gitlab.com/Zortac/36bwinf/">Code and example data</a><br />
        <a href="https://bwinf.de/fileadmin/user_upload/BwInf/2017/36/1._Runde/Aufgaben/BWINF_36_Aufgaben.pdf">Original task (German, Aufgabe 2, "Schwimmbad")</a><br />
        <a href="content/static/bwinf/aufgabe2.pdf">Documentation (German)</a></p>
</section>